$font-family: 'SF Pro Display', sans-serif;

$primary-font-color: #515151;
$secondary-font-color: #44313e;

$header-color: #f8f8f8f8;

$border-color: #cecece;

$font-size-xs: 12px;
$font-size-s: 26px;
$font-size-m: 29px;
$font-size-l: 36px;

$main-font-style: normal;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$text-shadow: rgba(0, 0, 0, 0.36);

$first-box-shadow: rgba(0, 0, 0, 0.04);
$second-box-shadow: rgba(0, 0, 0, 0.06);

$element-background-color: #ffffff;

$first-background-color: #B77E7E;
$second-background-color: #5B62AE;
