.Output {
  display: flex;
  flex-wrap: wrap;

  &__item {
    opacity: 1;
    color: rgba(248,248,248,1);
    font-family: "SFProDisplay-Bold";
    font-size: 29px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 3.63px;
    padding: 0px 15px;
  }
}