@import "src/sass/variables";

.Header {
  color: $header-color;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  font-style: $main-font-style;
  letter-spacing: 1.29px;
  text-shadow: 0px 1px 4px $text-shadow;
  margin-top: 85px;
}