@import "src/sass/variables";

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, $first-background-color, $second-background-color);
  @import url('https://fonts.cdnfonts.com/css/sf-pro-display');
  font-family: $font-family;
}